@import "bootstrap/functions";
@import "bootstrap/variables";

//
// Grid mixins
//

@import "bootstrap/mixins/breakpoints";

// including variables and mixins
@import "theme/variables";
@import "theme/mixins";
@import "theme/flexbox";
@import "theme/reset";

// Custom Scss
@import "theme/elements";
@import "theme/header";
@import "theme/home";
@import "theme/about";
@import "theme/price";
@import "theme/blog";
@import "theme/contact";
@import "theme/footer";

// My Stuff
body {
  font-size: 18px;
}
.brands-area {
  background: black;
}
section.brands-area img {
  height: 50px;
}
.displayNone {
  display: none;
}
#slideshow {
  /* background: red; */
  height: 500px;
  width: 500px;
  position: relative;

  h3 {
    background-image: linear-gradient(to right, #499fff, #0589ff);
    text-align: center;
    /* margin-top: -27px; */
    width: 80%;
    /* margin: -50px auto 0 auto; */
    /* z-index: 999999; */
    position: absolute;
    color: white;
    padding: 10px; 
  }

  div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

    img {
      width: 500px;
    }
  }
}

.email {
  width: 413px;
  height: 35px;
  padding: 5px;
  margin: 5px;
}

.formName {
  width: 200px;
  height: 35px;
  margin: 5px;
  padding: 5px;
}

.subscribe {
  padding: 25px;

  .button {
    margin: 5px;
    background: blue;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 23px;
    border-radius: 5px;
    border: white;
  }

  h3 {
    margin: 5px;
  }
}

.services-area {
  p {
    font-size: 19px;
    line-height: 27px;
  }
}
